body {
    margin: 60px auto;
    width: 60%;
    font-family:"Tahoma", "Geneva", "sans-serif";
    background-color: #e0ebeb;
}
nav ul, footer ul {
    font-family:"Tahoma", "Geneva", "sans-serif";
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 1.2em;
}
h2 {
    font-size: 1.1em;
}
h3 {
    font-size: 1em;
}
p {
    font-size: 1em;
    line-height: 1.4em;
    text-align: justify;
    color: #333;
}
.round_img {
  border-radius: 50%; /* round image class */
}
.classic_img {
 /* Nothing here, classic iamge */
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
}
ul.posts {
    margin: 20px auto 40px;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 1em;
}
ul.posts li {
    list-style: none;
}
page-container {
  position: relative;
  min-height: 100vh;
}
content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}
